## Cargar paquetes

In [31]:
import numpy as np
import pandas as pd

## Leer base de datos de Pasajeros

In [34]:
url = 'https://github.com/Chefi/Modelos-de-Control-de-Producci-n/blob/main/AirPassengers.csv'

In [66]:
df = pd.read_csv("airline-passengers.csv", index_col="Month", parse_dates=True)

In [68]:
df

            Total_passengers
Month
1949-01-01               112
1949-02-01               118
1949-03-01               132
1949-04-01               129
1949-05-01               121
...                      ...
1960-08-01               606
1960-09-01               508
1960-10-01               461
1960-11-01               390
1960-12-01               432

[144 rows x 1 columns]